
<!-- include header -->
<%- include('includes/_header') %>
<!-- /include header -->

<header id="header">
    <nav>
        <div class="container">
            <div class="text-center">
                <a href="/" class="nav-brand text-white">Dashboard</a>
            </div>
        </div>
    </nav>
</header>
    
<style>
input:focus{
    outline: none;
}
</style>

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/admin/add-customer" class="border-shadow">
                    <span class="text-gradient">New User <i class="fas fa-user"></i></span>
                </a>
                <form action="/admin/search" method="POST" style="display: contents;">
                    <div class="search-box">
                        <input class="search-box-input" type="text" name="name" value="" placeholder="search by username"><button type="submit" class="search-btn"><i class="fa-solid fa-magnifying-glass search-box-icon"></button></i>
                    </div>
                </form>
                <a href="/admin/logout" class="border-shadow">
                    <span class="text-gradient">Logout <i class="fas fa-user"></i></span>
                </a>
            </div>
            <div class="<%= customerDelete === true ? 'user-delete-indicator' : 'user-delete-indicator-disable' %>">
                <div class="user-delete-indicator-text">Customer Deleted Successfully</div>
            </div>
            <!-- form handling -->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>@Email</th>
                            <th>Gender</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < customers.length; i++) { %>
                            <tr>
                                <td><%= i + 1 %></td>
                                <td><%= customers[i].name %></td>
                                <td><%= customers[i].email %></td>
                                <td><%= customers[i].gender %></td>
                                <td>
                                    <a href="/admin/update-customer?id=<%= customers[i]._id %>" class="btn border-shadow update">
                                        <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                                    </a>
                                    <a class="btn border-shadow delete" href="/admin/deleteUser?id=<%= customers[i]._id %>" data-id=<%= customers[i]._id %> >
                                        <span class="text-gradient"><i class="fas fa-times"></i></span>
                                    </a>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('includes/_footer') %>
<!-- /include footer -->